        body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: black;
        }
        
        * {
            box-sizing: border-box;
        }
        /* Add padding to containers */
        
        .container {
            padding: 16px;
            background-color: white;
        }
        /* Full-width input fields */
        
        input[type=text],
        input[type=password] {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            display: inline-block;
            border: none;
            background: #f1f1f1;
        }
        
        input[type=text]:focus,
        input[type=password]:focus {
            background-color: #ddd;
            outline: none;
        }
        /* Overwrite default styles of hr */
        
        hr {
            border: 1px solid #f1f1f1;
            margin-bottom: 25px;
        }
        /* Set a style for the submit button */
        
        .btn {
            background-color: #04AA6D;
            color: white;
            padding: 16px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            opacity: 0.9;
        }
        
        .btn:hover {
            opacity: 1;
        }
        /* Add a blue text color to links */
        
        a {
            color: dodgerblue;
        }
        /* Set a grey background color and center the text of the "sign in" section */
        
        .footer {
            background-color: #f1f1f1;
            text-align: center;
        }
        
        div.passw {
            display: none;
            background: #f1f1f1;
            color: #000;
            position: relative;
            padding: 20px;
            margin-top: 10px;
        }
        
        div.passw p {
            padding: 10px 35px;
            font-size: 18px;
        }
        /* Add a green text color and a checkmark when the requirements are right */
        
        .valid {
            color: green;
        }
        
        .valid:before {
            position: relative;
            left: -35px;
            content: "✔";
        }
        /* Add a red text color and an "x" when the requirements are wrong */
        
        .invalid {
            color: red;
        }
        
        .invalid:before {
            position: relative;
            left: -35px;
            content: "✖";
        }